body {
    margin: 0;
    background: linear-gradient(to bottom, #770022, #ff0088);
}
/*Section of header*/
.audio-img {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: url("imgs/principal_photo.jpg")
    center / cover fixed;
    border-bottom: solid 3px;
}

.principal-title {
    display: block;
    width: 60%;
    font-size: 110px;
    background-color: #0009;
    color: #fff;
    font-family: "Adobe Devanagari", sans-serif;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.audio__sources {
    width: 35%;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 40px;
}

audio {
    flex-grow: 1;
}

.arrow-down__header {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    box-sizing: border-box;
}
/*Body section*/

.month-box {
    border: solid white 2px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    background-color: black;
}

.left-box {
    padding-left: 25px;
    margin-left: 20px;
    box-shadow: 40px 40px 60px black;
}

.right-box {
    padding-right: 25px;
    margin-right: 40px;
    margin-left: auto;
    box-shadow: -40px 40px 60px black;
}

.text {
    color: white;
    box-sizing: border-box;
    height: auto;
    width: 60%;
    text-align: center;
    flex-grow: 1;
}

.roulette {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    box-sizing: border-box;
    align-items: center;

}
.roulette__right {
    margin-left: 30px;
}

.roulette_left {
    margin-right: 30px;
}

.img-box {
    max-width: 400px;
    height: 500px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 40px hotpink;
}

.arrows {
    display: flex;
    font-size: 100px;
    align-items: center;
    cursor: pointer;
    transition: color;
    transition-duration: 0.7s;
}
.arrows:hover {
    color: #f08;
}



h2 {
    margin: 0;
    font-size: 70px;
}

.one_year_tittle {
    color: #cc62aa;
    text-shadow: 0 7px 10px;
}

p {
    text-align: justify;
    font-size: 35px;
    text-wrap: pretty;
}
.question-final {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    height: auto;
    width: 100%;
    background: linear-gradient(to bottom, transparent, #770022 70%);
    color: #fff;
}

.img-heart {
    margin: auto;
    background: url("imgs/last_photo.jpg") center / cover;
    width: 600px;
    height: 600px;
    position: relative;
    clip-path: path("M 300, 564 C 120, 456, 0, 300, 0, 180 C 0, 72, 96, 0, 204, 0 C 276, 0, 300, 60, 300, 60 C 300, 60, 324, 0, 396, 0 C 504, 0, 600, 72, 600, 180 C 600, 300, 480, 456, 300, 564 Z");
    text-align: center;
    padding-top: 13%;
    box-sizing: border-box;
    font-size: 45px;
    font-family: cursive;
    text-shadow:
            -2px -2px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    color: #fff;
    letter-spacing: 10px;
}
.question-final__box-mix {
    display: flex;
    width: 100%;
    padding: 1% 15% 0 0;
    box-sizing: border-box;
    margin-bottom: 0;
}
.question-final-box-question {
    font-family: cursive, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 4em;
}

.last-title {
    margin: 10% 0 20px;
    font-size: 6em;
    text-shadow: 20px 0 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    margin: 13% auto ;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    width: 80%;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal__yex-text, .modal-content {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .arrows {
        font-size: 70px;
    }
}

@media screen and (max-width: 700px) {
    /*header section*/
    .audio-img {
        flex-direction: column;
        justify-content: start;
        gap: 7rem;

    }
    .audio-img h1 {
        padding: 10px;
        width: 90%;
        font-size: 50px;
    }
    .audio__sources {
        width: 80%;
    }

    /*body section*/
    .month-box {
        margin: 15% auto;
        box-shadow: none;
    }
    .text h2 {
        font-size: 50px;
    }

    .text p {
        font-size: 15px;
    }

    .roulette {
        margin: auto;
    }

    .roulette img {
        width: 80%;
        height: auto;
    }



    /*last question*/
    .question-final h2 {
        font-size: 2.4em;
    }
    .question-final__box-mix {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .question-final-box-question {
        width: 100%;
    }

    .img-heart {
        width: 400px;   /* Tamaño más pequeño que mantiene la forma */
        height: 400px;  /* Ajuste proporcional */
        font-size: 30px; /* Tamaño de fuente adecuado para este tamaño */
        letter-spacing: 8px; /* Ajuste del espaciado de letras */
        clip-path: path("M 200, 376 C 80, 304, 0, 200, 0, 120 C 0, 48, 64, 0, 136, 0 C 184, 0, 200, 40, 200, 40 C 200, 40, 216, 0, 264, 0 C 336, 0, 400, 48, 400, 120 C 400, 200, 320, 304, 200, 376 Z");
    }
}

@media screen and (max-width: 500px) {
    .arrows {
        font-size: 46px;
    }

    /*modals */

    .modal-content {
        margin: 50% 13% auto auto;
    }
}