body {
    margin: 0;
    background: linear-gradient(to bottom, #770022, #ff0088);
}
.audio-img {
    width: 100%;
    height: auto;
    background: url("imgs/principal_photo.jpg")
    center / cover fixed;
    text-align: center;
    padding: 10px 0 200px 0;
    border-bottom: solid 3px;
}

.month-box {
    margin-top: 100px;
    display: flex;
    width: 90%;
    height: auto;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 20px;
    font-family: cursive, sans-serif;
    background-color: black;
}

.left-box {
    margin-left: 20px;
    box-shadow: 40px 40px 60px black;
}

.right-box {
    margin-right: 40px;
    margin-left: auto;
    box-shadow: -40px 40px 60px black;
}

.text {
    color: white;
    box-sizing: border-box;
    height: 100%;
    width: 60%;
}

.roulette {
    display: flex;
    color: white;
    box-sizing: border-box;
    margin: auto;
}

.principal-title {
    width: 60%;
    margin: 100px auto 30px;
    font-size: 110px;
    background-color: #0009;
    color: #fff;
    font-family: "Adobe Devanagari", sans-serif;
    border-radius: 20px;
    box-sizing: border-box;
}

audio {
    width: 500px;
}


.img-box {
    width: 400px;
    height: 500px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 40px hotpink;
}

.arrows {
    display: flex;
    font-size: 100px;
    align-items: center;
    cursor: pointer;
}
.arrows:hover {
    color: #f08;
}

h2 {
    margin: 0;
    font-size: 70px;
}

p {
    text-align: justify;
    font-size: 35px;
}
.question-final {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    height: auto;
    width: 100%;
    background: linear-gradient(to bottom, transparent, #770022 70%);
    color: #fff;
}

.img-heart {
    margin: auto;
    background: url("imgs/last_photo.jpg") center / cover;
    width: 600px;
    height: 600px;
    position: relative;
    clip-path: path("M 300, 564 C 120, 456, 0, 300, 0, 180 C 0, 72, 96, 0, 204, 0 C 276, 0, 300, 60, 300, 60 C 300, 60, 324, 0, 396, 0 C 504, 0, 600, 72, 600, 180 C 600, 300, 480, 456, 300, 564 Z");
    text-align: center;
    padding-top: 13%;
    box-sizing: border-box;
    font-size: 45px;
    font-family: cursive;
    color: #fff;
    letter-spacing: 10px;
}
.question-final__box-mix {
    display: flex;
    width: 100%;
    padding: 1% 15% 0 0;
    box-sizing: border-box;
    margin-bottom: 0;
}
.question-final-box-question {
    font-family: cursive, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 4em;
}

.last-title {
    margin: 10% 0 20px;
    font-size: 6em;

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    margin: 13% auto ;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    width: 80%;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal__yex-text, .modal-content {
    text-align: center;
}
